<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<routing>
  <route>
    <id>login</id>
    <path>/login</path>
    <controller>App\Controller\SecurityController</controller>
    <methods>GET|POST</methods>
    <action>login</action>
  </route>

  <route>
    <id>register</id>
    <path>/register</path>
    <controller>App\Controller\RegistrationController</controller>
    <methods>GET|POST</methods>
    <action>register</action>
  </route>

  <route>
    <id>index</id>
    <path>/</path>
    <controller>App\Controller\RootController</controller>
    <methods>GET</methods>
    <action>renderPage</action>
  </route>

  <route>
    <id>logout</id>
    <path>/logout</path>
    <controller>App\Controller\SecurityController</controller>
    <methods>GET</methods>
    <action>logout</action>
  </route>

  <route>
    <id>profile</id>
    <path>/profile</path>
    <controller>App\Controller\ProfileController</controller>
    <methods>GET</methods>
    <action>renderUserList</action>
  </route>

  <route>
    <id>user_profile</id>
    <path>/profile/{alpha}</path>
    <controller>App\Controller\ProfileController</controller>
    <methods>GET</methods>
    <action>renderUserProfile</action>
  </route>
</routing>
